.main-menu ul{
    list-style: none;
}
.main-menu ul li {
    display: inline-block;
    padding: 10px;
}
.main-menu ul li a{
    text-decoration: none;
    text-transform: uppercase;
} 
.main-menu ul li ul {
    position: absolute;
    padding: 0;
}
.main-menu ul li ul li {
    width: 200px;
    display: block;
    padding: 5px 0;
    background: #ddd;
    border-bottom: 1px solid #bbb;
    visibility: hidden;
    opacity: 0;
}
.main-menu ul li:hover ul li {
    visibility: visible;
    opacity: 1;
} 
.main-menu ul li ul li:last-child {
    border-bottom: none;
    opacity: inherit;
}
